body{
    background: linear-gradient(270deg, #A2F9FF 0%, rgba(255, 255, 255, 0) 100%), #7ADDFC;
    margin: 0;
    padding: 0;
}
.menu ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    margin-top: -25px;
}
a{
    text-decoration: none;
    color: black;
}
.menu li{
    background-color: white;
    border: solid 2px blue;
    border-radius: 50px;
    padding: 1%;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
    .menu li:hover{
        background-color: rgb(172, 217, 238);
    }
.header{
    display: flex;
    background: linear-gradient(45deg, rgb(76, 177, 221), rgb(234,237,233));
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.header__logo h1{
    width: 525px;
    height: 91px;
    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 91px;
    color: #9FF9FF;
    text-align: center;
    text-shadow: black 0 0 5px;
}
.contacts{
    margin-top: 5px;
}
.contacts__phone{
    display: flex;
}
.contacts__phone img{
    width: 85px;
    height: 85px;
}
.contacts__phone p{
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.contacts__mail{
    display: flex;
}
.contacts__mail img{
    width: 85px;
    height: 85px;
}
.contacts__mail p{
    margin: 0;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.logo img{
    height: 200px;
    transition: 1s;
    cursor: pointer;
}
    .logo img:hover{
        transform: rotateZ(20deg);
    }
.header__logo{
    display: flex;
    width: 70%;
}
.header__logo h1{
    margin-left: 10%;
    font-size: 60px;
}
.slider{
    margin-top: 15px;
}
.slider img{
    max-width: 100%;
    height: 450px;
    margin: auto;
    border-radius: 0 60px 60px 0;
    display: block;
}
.slider img:nth-child(2){
    display: none;
}
.slider img:nth-child(3){
    display: none;
}
.slider img:nth-child(4){
    display: none;
}
.slider img:nth-child(5){
    display: none;
}
.slider__circles{
    display: flex;
}
.circle{
    width: 37px;
    height: 37px;
    border-radius: 100px;
    background-color: white;
    margin-left: 0.3%;
    margin-right: 0.3%;
    margin-top: -40px;
}
.circle_active{
    width: 30px;
    height: 30px;
    border: solid 4px white;
    border-radius: 100px;
    background-color: blue;
}
.appeal{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C5F8FF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 7px 20px rgba(0, 0, 0, 0.25);
    padding-bottom: 2%;
    width: 100%;
}
.appeal h1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 91px;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.appeal p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.appeal__form{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    width: 551px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.appeal__form p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}
#block__image__one{
    width: 72%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
#block__image__two{
    width: 339px;
    height: 171px;
    display: block;
    margin: auto;
    margin-bottom: 100px;
}
#block__image__three{
    width: 385px;
    height: 176px;
    display: block;
    margin: auto;
    margin-bottom: 100px;
}
#block__image__four{
    width: 370px;
    height: 169px;
    display: block;
    margin: auto;
    margin-bottom: 100px;
}
#block__image__five{
    width: 407px;
    height: 186px;
    display: block;
    margin: auto;
    margin-bottom: 100px;
}
.views h1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 50px;
    text-align: center;
}
.block__image{
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.block{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #A2F7FD;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    width: 358px;
    height: 253px;
    margin-left: 10px;
    margin-bottom: 150px;
}
.block p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    line-height: 33px;
    width: 349px;
    height: 66px;
    color: #001AFF;
    cursor: pointer;
    margin: auto;
}
    .block p:hover{
        text-decoration: underline;
    }
.views__blocks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.clients p{
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
}
.clients h1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 70px;
    text-align: center;
}
.clients__images{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}
.clients__images img:nth-child(1){
    width: 588px;
    height: 167px;
    margin-right: 2%;
    margin-left: 2%;
}
.clients__images img:nth-child(2){
    width: 580px;
    height: 168px;
    margin-right: 2%;
    margin-left: 2%;
}
.clients__images img:nth-child(3){
    width: 232px;
    height: 178px;
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
}
.clients__images img:nth-child(4){
    width: 232px;
    height: 178px;
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
}
.clients__images img:nth-child(5){
    width: 232px;
    height: 178px;
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
}
.clients__images img:nth-child(6){
    width: 232px;
    height: 178px;
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
}
.footer__images{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.footer__images img:nth-child(1){
    width: 165px;
    height: 165px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}
.footer__images img:nth-child(2){
    width: 165px;
    height: 165px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}
#footer__logo{
    margin-top: 40px;
    width: 200px;
    height: 180px;
}
.footer__images a{
    text-decoration: none;
    color: black;
    transition: 1s;
}
    .footer__images a:hover{
        transform: rotateZ(360deg);
    }
.footer__images img:nth-child(4){
    width: 165px;
    height: 165px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}
.footer__images img:nth-child(5){
    width: 165px;
    height: 165px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}
.footer h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.footer{
    background: linear-gradient(180deg, #7ADDFC 0%, rgba(255, 255, 255, 0) 100%), #53D6FF;
    box-shadow: inset 0px 7px 20px rgba(0, 0, 0, 0.25);
}
.section{
    position: fixed;
    right: 0;
    width: 120px;
    border-radius: 25px;
    opacity: 0.5;
    display: none;
    margin-top: -630px;
    transition: 1s;
}
.BorderBurger{
    background: rgba(227, 250, 255, 0.8);
    border: 1px solid #924EBC;
}
.Animation{
    transition: 1s;
}
    .Animation:hover{
       transform: rotate(360deg);
    }

.section span,
.section span::before,
.section span::after{
    position: absolute;
    margin-top: -1px;
    left: 14px;
    top: 15px;
    margin-left: 9px;
    width: 70px;
    height: 15px;
    border-radius: 25px;
    background: #E3FAFF;
    border: 1px solid #924EBC;
}
.section span::before,
.section span::after{
    content: '';
}
.section span::before{
    margin-left: -15px;
    margin-top: 20px;
}
.section span::after{
    margin-left: -15px;
    margin-top: 2px;
}
.navigation ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 7%;
}
.navigation li{
    background-color: white;
    border: solid 1px blue;
    border-radius: 50px;
    padding: 10%;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-top: 2px;
}
    .navigation li:hover{
        background-color: rgb(172, 217, 238);
    }
.navigation{
    margin-top: 80px;
}
.clouse,
.clouse::before,
.clouse::after{
    position: absolute;
    margin-top: -1px;
    left: 14px;
    top: 15px;
    margin-left: 9px;
    width: 70px;
    height: 15px;
    border-radius: 25px;
    background: #E3FAFF;
    border: 1px solid #924EBC;
    opacity: 0.5;
}
.clouse::before,
.clouse::after{
    content: '';
}
.clouse::before{
    margin-left: -15px;
    margin-top: 2px;
}
.clouse::after{
    margin-left: -15px;
    margin-top: 20px;
}
.none{
    display: none;
}
@media (max-width: 1410px){
    .menu ul{
        flex-wrap: wrap;
    }
    .header__logo{
        width: 800px;
    }
    .clients__images{
        margin-left: 1%;
        margin-right: 1%;
    }
}
@media (max-width: 1295px){
    .clients__images{
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 1295px){
    .clients__images{
        margin-left: 20%;
        margin-right: 20%;
    }
    .clients__images img:nth-child(2){
        margin-top: 2%;
    }
}
@media (max-width: 1200px){
    .header__logo{
        width: 700px;
    }
    .header__logo h1{
        font-size: 50px;
    }
    .contacts{
        margin-top: 5px;
    }
    .contacts__phone img{
        width: 50px;
        height: 50px;
    }
    .contacts__phone p{
        margin: 0;
        margin-top: 10px;
        font-size: 20px;
    }
    .contacts__mail img{
        width: 50px;
        height: 50px;
    }
    .contacts__mail p{
        margin: 0;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 20px;
    }
    .logo img{
        height: 130px;
    }
}
@media (max-width: 1185px){
    .block{
        margin-left: 50px;
    }
}
@media (max-width: 991px){
    .footer__images img:nth-child(1){
        width: 100px;
        height: 100px;
    }
    .footer__images img:nth-child(2){
        width: 100px;
        height: 100px;
    }
    #footer__logo{
        width: 135px;
        height: 115px;
    }
    .footer__images img:nth-child(4){
        width: 100px;
        height: 100px;
    }
    .footer__images img:nth-child(5){
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 944px){
    .header__logo h1{
        font-size: 35px;
    }
    .contacts{
        margin-top: 5px;
        margin-left: 50px;
    }
    .logo img{
        height: 110px;
    }
    .header__logo{
        width: 50%;
    }
}
@media (max-width: 888px){
    .block{
        margin-left: 100px;
        margin-right: 100px;
    }
    .block p{
        font-size: 34px;
        width: 500px;
        margin-left: -70px;
        margin-top: 5px;
    }
}
@media (max-width: 862px){
    .header__logo h1{
        font-size: 30px;
    }
}
@media (max-width: 820px){
    .slider img:nth-child(1){
        max-width: 100%;
        height: 400px;
    }
}
@media (max-width: 780px){
    .header__logo h1{
        font-size: 28px;
    }
    .contacts__phone img{
        width: 30px;
        height: 30px;
    }
    .contacts__phone p{
        margin-top: -5px;
        font-size: 15px;
    }
    .contacts__mail img{
        width: 30px;
        height: 30px;
    }
    .contacts__mail p{
        margin-top: -6px;
        font-size: 15px;
    }
    .slider img:nth-child(1){
        height: 350px;
    }
}
@media (max-width: 748px){
    .header__logo h1{
        font-size: 25px;
    }
}

@media(max-width: 615px){
    
}
@media (max-width: 479px){
    .menu{
        display: none;
    }
    .section{
        display: block;
    }
    .header{
        display: block;
    }
    .header__logo{
        display: block;
        width: 100%;
    }
    .header__logo h1{
        height: 10px;
        font-size: 50px;
        text-align: left;
        margin: 0;
        margin-left: 50px;
        padding: 0;
        width: 80%;
    }
    .logo img{
        height: 400px;
        transition: 1s;
        cursor: pointer;
        margin-left: -25px;
    }
    .contacts{
        width: 100%;
        margin-top: 150px;
        margin-left: 0;
    }
    .contacts__phone img{
        width: 85px;
        height: 85px;
    }
    .contacts__phone p{
        margin: 0;
        margin-top: 30px;
        font-size: 32px;
        line-height: 10px;
    }
    .contacts__mail img{
        width: 85px;
        height: 85px;
    }
    .contacts__mail p{
        margin: 0;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 30px;
    }
    .slider{
        margin-top: 15px;
    }
    .slider img:nth-child(1){
        max-width: 100%;
        height: 200px;
    }
    .slider img:nth-child(2){
        display: block;
        height: 200px;
    }
    .slider img:nth-child(3){
        display: block;
        height: 200px;
    }
    .slider img:nth-child(4){
        display: block;
        height: 200px;
    }
    .slider img:nth-child(5){
        display: block;
        height: 200px;
    }
    .slider__circles{
        display: none;
    }
    .appeal{
        padding-bottom: 2%;
        width: 100%;
    }
    .appeal__form{
        width: 350px;
    }
    .appeal__form p{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }
    .clients p{
        font-size: 30px;
        width:100%;
    }
    .clients__images img{
        border-radius: 50px;
    }
    .clients__images img:nth-child(1){
        width: 400px;
        height: 167px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .clients__images img:nth-child(2){
        width: 400px;
        height: 168px;
        margin-right: 2%;
        margin-left: 2%;
        order: 6;
    }
    .clients__images img:nth-child(3){
        width: 232px;
        height: 178px;
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .clients__images img:nth-child(4){
        width: 232px;
        height: 178px;
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .clients__images img:nth-child(5){
        width: 232px;
        height: 178px;
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .clients__images img:nth-child(6){
        width: 232px;
        height: 178px;
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .footer__images{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__images img:nth-child(1){
        width: 165px;
        height: 165px;
        margin-top: 50px;
        margin-left: 15%;
        margin-right: 15%;
    }
    .footer__images img:nth-child(2){
        width: 165px;
        height: 165px;
        margin-top: 50px;
        margin-left: 15%;
        margin-right: 15%;
    }
    #footer__logo{
        margin-top: 40px;
        width: 250px;
        height: 180px;
        margin-left: -20px;
    }
    .footer__images img:nth-child(4){
        width: 165px;
        height: 165px;
        margin-top: 50px;
        margin-left: 15%;
        margin-right: 15%;
    }
    .footer__images img:nth-child(5){
        width: 165px;
        height: 165px;
        margin-top: 50px;
        margin-left: 15%;
        margin-right: 15%;
    }
    #block__image__one{
        width: 259px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    #block__image__two{
        width: 365px;
        display: block;
        margin: auto;
        padding-top: 30px;
        margin-bottom: 70px;
    }
    #block__image__three{
        width: 365px;
        display: block;
        margin: auto;
        padding-top: 30px;
        margin-bottom: 60px;
    }
    #block__image__four{
        width: 365px;
        display: block;
        margin: auto;
        padding-top: 30px;
        margin-bottom: 70px;
    }
    #block__image__five{
        width: 365px;
        display: block;
        margin: auto;
        padding-top: 20px;
        margin-bottom: 70px;
    }
    .block{
        width: 90%;
        height: 253px;
        margin: auto;
        margin-bottom: 150px;
    }
    .block p{
        font-size: 25px;
        width: 100%;
        height: 66px;
        margin: auto;
    }
    .views__blocks{
        display: flex;
        justify-content: none;
        flex-wrap: wrap;
    }
    .views h1{
        font-size: 60px;
    }
}
@media (max-width: 459px){
    .header__logo h1{
        height: 10px;
        font-size: 45px;
        text-align: left;
        margin: 0;
        margin-left: 50px;
        padding: 0;
        width: 80%;
    }
}
@media (max-width: 448px){
    .logo img{
        height: 300px;
        transition: 1s;
        cursor: pointer;
        margin-left: 0;
    }
    .header__logo h1{
        height: 10px;
        font-size: 40px;
        text-align: left;
        margin: 0;
        margin-left: 50px;
        padding: 0;
        width: 80%;
    }
}
@media (max-width: 398px){
    .contacts{
        width: 100%;
        margin-top: 150px;
        margin-left: 0;
    }
    .contacts__phone img{
        width: 65px;
        height: 65px;
    }
    .contacts__phone p{
        margin: 0;
        margin-top: 17px;
        font-size: 30px;
        line-height: 10px;
    }
    .contacts__mail img{
        width: 65px;
        height: 65px;
    }
    .contacts__mail p{
        margin: 0;
        margin-top: 5px;
        margin-left: 10px;
        font-size: 30px;
    }
    .section{
        margin-top: -590px;
    }
}
@media (max-width: 385px){
    .section{
        margin-top: -570px;
    }
    .clients p{
        font-size: 30px;
        width:100%;
    }
    .clients h1{
        font-size: 50px;
    }
    .clients__images img{
        border-radius: 50px;
    }
    .clients__images img:nth-child(1){
        width: 300px;
        height: 167px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .clients__images img:nth-child(2){
        width: 400px;
        height: 168px;
        margin-right: 2%;
        margin-left: 2%;
        order: 6;
    }
    .clients__images img:nth-child(3){
        width: 232px;
        height: 178px;
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .clients__images img:nth-child(4){
        width: 232px;
        height: 178px;
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .clients__images img:nth-child(5){
        width: 232px;
        height: 178px;
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .clients__images img:nth-child(6){
        width: 232px;
        height: 178px;
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .contacts{
        width: 100%;
        margin-top: 150px;
        margin-left: 0;
    }
    .contacts__phone img{
        width: 55px;
        height: 55px;
    }
    .contacts__phone p{
        margin: 0;
        margin-top: 17px;
        font-size: 25px;
        line-height: 10px;
    }
    .contacts__mail img{
        width: 55px;
        height: 55px;
    }
    .contacts__mail p{
        margin: 0;
        margin-top: 5px;
        margin-left: 10px;
        font-size: 25px;
    }
    .slider{
        margin-top: 15px;
    }
    .slider img:nth-child(1){
        max-width: 100%;
        height: 150px;
    }
    .slider img:nth-child(2){
        height: 150px;
    }
    .slider img:nth-child(3){
        height: 150px;
    }
    .slider img:nth-child(4){
        height: 150px;
    }
    .slider img:nth-child(5){
        height: 150px;
    }
    .slider__circles{
        display: none;
    }
    .appeal h1{
        font-size: 50px;
    }
    .appeal__form{
        width: 300px;
    }
    .appeal__form p{
        font-size: 28px;
    }
    .appeal p{
        font-size: 20px;
    }
    #block__image__one{
        width: 200px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    #block__image__two{
        width: 300px;
        display: block;
        margin: auto;
        padding-top: 30px;
        margin-bottom: 10px;
    }
    #block__image__three{
        width: 300px;
        display: block;
        margin: auto;
        padding-top: 30px;
        margin-bottom: 5px;
    }
    #block__image__four{
        width: 300px;
        display: block;
        margin: auto;
        padding-top: 30px;
        margin-bottom: 20px;
    }
    #block__image__five{
        width: 300px;
        display: block;
        margin: auto;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .block{
        width: 90%;
        height: 200px;
        margin: auto;
        margin-bottom: 150px;
    }
    .block p{
        font-size: 25px;
        width: 100%;
        height: 66px;
        margin: auto;
    }
    .views__blocks{
        display: flex;
        justify-content: none;
        flex-wrap: wrap;
    }
    .views h1{
        font-size: 50px;
    }
}
@media (max-width: 368px){
    .logo img{
        height: 300px;
        margin-left: -15px;
    }
    .header__logo h1{
        font-size: 35px;
    }
}
@media (max-width: 340px){
    .section{
        margin-top: -400px;
    }
    .header__logo{
        display: block;
        width: 80%;
    }
    .header__logo h1{
        height: 10px;
        font-size: 27px;
        text-align: left;
        margin: 0;
        margin-left: 70px;
        padding: 0;
        width: 80%;
    }
    .logo img{
        height: 200px;
        margin-left: 35px;
    }
    .contacts{
        width: 100%;
        margin-top: 80px;
        margin-left: 0;
    }
}