body{
    background: linear-gradient(270deg, #A2F9FF 0%, rgba(255, 255, 255, 0) 100%), #7ADDFC;    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.navigation ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    margin-top: -25px;
}
.navigation li{
    background-color: white;
    border: solid 2px blue;
    border-radius: 50px;
    padding: 1%;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
.navigation li:nth-child(1){
    background-color: #70EEF6;
}
    .navigation li:hover{
        background-color: rgb(172, 217, 238);
    }
.header{
    display: flex;
    background: linear-gradient(45deg, rgb(76, 177, 221), rgb(234,237,233));
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.header h1{
    width: 525px;
    height: 91px;
    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 91px;
    color: #9FF9FF;
    text-shadow: black 0 0 5px;
}
.contacts{
    margin-top: 5px;
}
.contacts__phone{
    display: flex;
}
.contacts__phone img{
    width: 85px;
    height: 85px;
}
.contacts__phone p{
    margin: 0;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.contacts__mail{
    display: flex;
}
.contacts__mail img{
    width: 85px;
    height: 85px;
}
.contacts__mail p{
    margin: 0;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.logo img{
    height: 200px;
    transition: 1s;
    cursor: pointer;
}
    .logo img:hover{
        transform: rotateZ(20deg);
    }
.header__logo{
    display: flex;
    width: 70%;
}
.header__logo h1{
    margin-left: 10%;
    font-size: 60px;
}
.guide{
    background: linear-gradient(360deg, #50F4FF 0%, rgba(255, 255, 255, 0) 100%), #B8FFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 144.5px;
    width: 321px;
    height: 510px;
    margin-top: 10px;
}
.guide ul{
    list-style-type: none;
    margin: 0;
    margin-top: 60px;
    padding: 0;
}
.guide li{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}
    .guide li:hover{
        color: rgb(172, 217, 238);
        text-shadow: black 0 0 2px;
    }
.guide li:nth-child(1){
    color: #00F0FF;
    text-shadow: black 0 0 2px;
}
.container{
    display: flex;
    justify-content: center;
}
.information{
    background: linear-gradient(180deg, #E8FFFF 0%, rgba(255, 255, 255, 0) 100%), #B8FFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 144.5px;
    width: 1012px;
    height: 1200px;
    margin-top: 10px;
    margin-left: 10px;
}
.information h1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 91px;
    text-align: center;
    margin: 0;
}
.information p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    width: 962px;
    text-align: justify;
    margin: auto;
}
.information h2{
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 55px;
    text-align: center;
}
.information__block_one{
    margin-top: 15px;
    display: flex;
}
.information__block_one img{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 58px;
    width: 404px;
    height: 294px;
    margin-left: 25px;
}
.information__block_one p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    width: 535px;
    text-align: justify;
}
.information__block_two{
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
}
.information__block_two img{
    margin-left: 55px;
}
.information__block_two p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    width: 70%;
}
.footer__images{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.footer__images img:nth-child(1){
    width: 165px;
    height: 165px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}
.footer__images img:nth-child(2){
    width: 165px;
    height: 165px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}
.footer__images img:nth-child(3){
    width: 253px;
    height: 213px;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    transition: 1s;
    cursor: pointer;
}
    .footer__images img:nth-child(3):hover{
        transform: rotateZ(360deg);
    }
.footer__images img:nth-child(4){
    width: 165px;
    height: 165px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}
.footer__images img:nth-child(5){
    width: 165px;
    height: 165px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}
.footer h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.footer{
    background: linear-gradient(180deg, #7ADDFC 0%, rgba(255, 255, 255, 0) 100%), #53D6FF;
    box-shadow: inset 0px 7px 20px rgba(0, 0, 0, 0.25);
}